<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="GoogleClientID" value="247730040202-pcadge1jqm8aknh48n3emkfidh183pj1.apps.googleusercontent.com" />
  <!--add key="GoogleClientID" value="AIzaSyBkXzq40hrcCImIxKSpNxQvr7zL37gN6qM" /-->
  <add key="GoogleClientSecret" value="P_G0ZF5GsI9BHwa2BO84W00O" />

  <!--Configurações do MvcSiteMapProvider-->
  <add key="MvcSiteMapProvider_IncludeAssembliesForScan" value="Serpro.ESocial.Web.Aplicacao" />
  <add key="MvcSiteMapProvider_UseExternalDIContainer" value="false" />
  <add key="MvcSiteMapProvider_ScanAssembliesForSiteMapNodes" value="true" />

  <add key="Log4net.config" value="log4net.config" />

  <add key="vs:EnableBrowserLink" value="false" />

 
  <add key="jwtKey" value="ESocialCompletoJWT" />
  
</appSettings>