<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConnectionString" connectionString="Server=.; Database=BoxFesta;Trusted_Connection=True;"  providerName="System.Data.SqlClient" />
  <!--add name="ConnectionString" connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=boxfesta;User ID=boxfesta;Password=sqlserver:boxfesta"  providerName="System.Data.SqlClient" /-->
  <!--add name="ConnectionString" connectionString="Data Source=jasmine.arvixe.com;Initial Catalog=babyVest;User ID=babyvest;Password=sqlserver:babyvest" providerName="System.Data.SqlClient" /-->
  
</connectionStrings>
