<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <!-- Configurações Hibernate e log4net-->
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>

  <log4net debug="true">

    <appender name="LogAplicacao" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="log/Box_Festa_%date{dd_MM_yyyy}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="100MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
      <!-- <filter type="log4net.Filter.StringMatchFilter">
        <loggerToMatch value="Serpro.ESocial" />
      </filter> -->
    </appender>

    <!--<appender name="NHibernateAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="log/ESocialWeb_NHibernate_%date{dd_MM_yyyy}.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="3" />
      <maximumFileSize value="100MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger – %message%newline" />
      </layout>
    </appender>-->

    <!-- level: ALL DEBUG INFO WARN ERROR FATAL OFF   -->
    <logger name="Box.Festa">
      <level value="DEBUG" />
      <appender-ref ref="LogAplicacao" />
    </logger>

    <!--<logger name="NHibernate.SQL" additivity="true">
      <level value="debug" />
      <appender-ref ref="NHibernateAppender" />
    </logger>-->

  </log4net>

</configuration>